{% extends 'theme/base.html.twig' %}

{% block body_tag %}
<body class="hold-transition text-sm sidebar-collapse">
{% endblock body_tag %}

{% block page_body %}
    {% block page_header_buttons %}{% endblock %}
    {% block page_content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header text-center">
                                    <h1>{{ siteName }}</h1>
                                </div>
                                <div class="card-body">
                                    {% if app.user %}
                                        <div class="mb-0 text-center">
                                            {{ 'You are logged in as'|trans }} <span class="font-weight-bold">{{ app.user.userProfile.naturalName }}</span>. <a href="{{ path('app_user_logout') }}">{{ 'app.sign-out'|trans }}</a>
                                        </div>
                                    {% else %}
                                        <p class="login-box-msg">{{ 'Register a new membership'|trans }}</p>

                                        {{ form_start(registrationForm) }}
                                            <div class="input-group mb-3">
                                                {{ form_errors(registrationForm.forenames) }}
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-user"></span>
                                                    </div>
                                                </div>
                                                {{ form_widget(registrationForm.forenames) }}
                                            </div>
                                            <div class="input-group mb-3">
                                                {{ form_errors(registrationForm.surname) }}
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-user"></span>
                                                    </div>
                                                </div>
                                                {{ form_widget(registrationForm.surname) }}
                                            </div>
                                            <div class="input-group mb-3">
                                                {{ form_errors(registrationForm.email) }}
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-envelope"></span>
                                                    </div>
                                                </div>
                                                {{ form_widget(registrationForm.email) }}
                                            </div>
                                            <div class="input-group mb-3">
                                                {{ form_errors(registrationForm.plainPassword.first) }}
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-lock"></span>
                                                    </div>
                                                </div>
                                                {{ form_widget(registrationForm.plainPassword.first) }}
                                            </div>
                                            <div class="input-group mb-3">
                                                {{ form_errors(registrationForm.plainPassword.second) }}
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-lock"></span>
                                                    </div>
                                                </div>
                                                {{ form_widget(registrationForm.plainPassword.second) }}
                                            </div>
                                            <div class="row">
                                                <div class="col-8">
                                                    {{ form_errors(registrationForm.agreeTerms) }}
                                                    {{ form_widget(registrationForm.agreeTerms) }}
                                                    {{ form_label(registrationForm.agreeTerms) }}
                                                </div>
                                                <!-- /.col -->

                                                <div class="col-12 text-right">
                                                    <a href="{{ path('homepage') }}" class="btn btn-warning btn-icon-split">
                                                        <span class="icon text-white-50 mr-1">
                                                            <i class="fas fa-arrow-alt-circle-left"></i>
                                                        </span>
                                                        <span class="text">{{ 'Cancel'|trans }}</span>
                                                    </a>
                                                    <button type="submit" class="btn btn-primary btn-icon-split ml-3">
                                                        <span class="icon text-white-50 mr-1">
                                                            <i class="fas fa-user-plus"></i>
                                                        </span>
                                                        <span class="text">{{ button_label|default('app.register')|trans|u.title }}</span>
                                                    </button>
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                        {{ form_end(registrationForm) }}
                                    {% endif %}
                                </div>
                                <!-- /.card-body -->

                                {% if not app.user %}
                                    <div class="card-footer">
                                        <p class="mb-0">
                                            <a href="{{ path('app_user_login') }}" class="text-center">{{ 'I am already signed up'|trans }}</a>
                                        </p>
                                    </div>
                                    <!-- /.card-footer -->
                                {% endif %}
                            </div>
                            <!-- /.card -->
                        </div>
                        <div class="col"></div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    {% endblock %}
{% endblock %}
