{% extends 'base.html.twig' %}

{% block page_body %}
    {% block page_header_buttons %}{% endblock %}
    {% block page_content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-lg-5">
                            <!-- /.login-logo -->
                            <div class="card">
                                <div class="card-header text-center">
                                    <h1>{{ siteName }}</h1>
                                </div>
                                <div class="card-body">
                                    {% if app.user %}
                                        <div class="mb-0 text-center">
                                            You are logged in as <span class="font-weight-bold">{{ app.user.naturalName }}</span>. <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% else %}
                                        <p class="login-box-msg">Register a new membership</p>

                                        {{ form_start(registrationForm) }}
                                            <div class="input-group mb-3">
                                                {{ form_errors(registrationForm.firstName) }}
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-user"></span>
                                                    </div>
                                                </div>
                                                {{ form_widget(registrationForm.firstName) }}
                                            </div>
                                            <div class="input-group mb-3">
                                                {{ form_errors(registrationForm.lastName) }}
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-user"></span>
                                                    </div>
                                                </div>
                                                {{ form_widget(registrationForm.lastName) }}
                                            </div>
                                            <div class="input-group mb-3">
                                                {{ form_errors(registrationForm.email) }}
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-envelope"></span>
                                                    </div>
                                                </div>
                                                {{ form_widget(registrationForm.email) }}
                                            </div>
                                            <div class="input-group mb-3">
                                                {{ form_errors(registrationForm.plainPassword.first) }}
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-lock"></span>
                                                    </div>
                                                </div>
                                                {{ form_widget(registrationForm.plainPassword.first) }}
                                            </div>
                                            <div class="input-group mb-3">
                                                {{ form_errors(registrationForm.plainPassword.second) }}
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-lock"></span>
                                                    </div>
                                                </div>
                                                {{ form_widget(registrationForm.plainPassword.second) }}
                                            </div>
                                            <div class="row">
                                                <div class="col-8">
                                                    {{ form_errors(registrationForm.agreeTerms) }}
                                                    <div class="icheck-primary">
                                                        {{ form_widget(registrationForm.agreeTerms) }}
                                                    </div>
                                                </div>
                                                <!-- /.col -->

                                                <div class="col-4">
                                                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                        {{ form_end(registrationForm) }}
                                    {% endif %}
                                </div>
                                <!-- /.card-body -->

                                {% if not app.user %}
                                    <div class="card-footer">
                                        <p class="mb-0">
                                            <a href="{{ path('app_login') }}" class="text-center">I'm already signed up, please take to the login page!</a>
                                        </p>
                                    </div>
                                    <!-- /.card-footer -->
                                {% endif %}
                            </div>
                            <!-- /.card -->
                        </div>
                        <div class="col"></div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    {% endblock %}
{% endblock %}
