{% extends 'theme/base-datatables.html.twig' %}

{% block page_header_buttons %}
    <a href="{{ path('app_user_settings') }}" class="btn btn-primary btn-sm btn-icon-split">
        <span class="icon text-white-50 mr-1">
          <i class="fas fa-arrow-circle-left"></i>
        </span>
        <span class="text">{{ 'app.back-to-user-settings'|trans }}</span>
    </a>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Details'|trans }}</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description) }}
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <!-- /.col -->

                        <div class="col-12 text-right">
                            <a href="{{ path('app_user_settings') }}" class="btn btn-warning btn-icon-split">
                                        <span class="icon text-white-50 mr-1">
                                            <i class="fas fa-arrow-alt-circle-left"></i>
                                        </span>
                                <span class="text">{{ 'Cancel'|trans }}</span>
                            </a>
                            <button type="submit" class="btn btn-primary btn-icon-split ml-3">
                                        <span class="icon text-white-50 mr-1">
                                            <i class="far fa-save"></i>
                                        </span>
                                <span class="text">{{ button_label|default('Generate')|trans }}</span>
                            </button>
                        </div>
                        <!-- /.col -->
                    </div>
                    {{ form_end(form) }}
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col"></div>
    </div>
    <!-- /.row -->
{% endblock %}