{% extends 'theme/base-datatables.html.twig' %}

{% block page_header_buttons %}
    {% if is_granted('ROLE_API') %}
        <a href="{{ path('app_user_apitoken_new') }}" class="btn btn-primary btn-sm btn-icon-split ml-3">
            <span class="icon text-white-50 mr-1">
              <i class="fas fa-plus-circle"></i>
            </span>
            <span class="text">{{ 'Generate API token...'|trans }}</span>
        </a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-4">
            {% include 'user/settings/_user_profile.html.twig' %}
        </div>
        <div class="col-lg-4">
            {% include 'user/settings/_households.html.twig' %}
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            {% include 'user/settings/_api_tokens.html.twig' %}
        </div>
    </div>
    <!-- /.row -->
{% endblock %}


{% block javascripts  %}
    {{ parent() }}

    {{ encore_entry_script_tags('app_user_settings_apitokens') }}
    {{ encore_entry_script_tags('omh_user_settings_households') }}
{% endblock javascripts %}