{% extends 'theme/base-datatables.html.twig' %}

{% block page_header_buttons %}
    {% if is_granted('createBooking', household) %}
        <a href="{{ path('housekeepingbook_dynamicbooking_new') }}" class="btn btn-outline-primary btn-sm btn-icon-split ml-3">
            <span class="icon text-primary mr-1">
              <i class="fas fa-plus-circle"></i>
            </span>
            <span class="text">{{ 'Add dynamic booking...'|trans }}</span>
        </a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Dynamic bookings'|trans }}</h3>
                </div>
                <div class="card-body">
                    <table id="dynamicBookings" class="table table-hover table-striped dataTable" role="grid">
                        <thead>
                        <tr>
                            <th>{{ 'Date'|trans }}</th>
                            <th>{{ 'User'|trans }}</th>
                            <th>{{ 'Category'|trans }}</th>
                            <th>{{ 'Account holder'|trans }}</th>
                            <th>{{ 'Description'|trans }}</th>
                            <th>{{ 'Amount'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        {% if dynamicBookings %}
                            <tbody>
                            {% for dynamicBooking in dynamicBookings %}
                                <tr class="{% if dynamicBooking.private %}font-italic{% endif %}">
                                    <td class="min text-center" data-sort="{{ dynamicBooking.bookingDate|date('U') }}">{{ dynamicBooking.bookingDate|format_date }}</td>
                                    <td class="min">{{ dynamicBooking.householdUser.user }}</td>
                                    <td class="min text-center">{{ dynamicBooking.bookingCategory }}</td>
                                    <td class="min">{{ dynamicBooking.accountHolder }}</td>
                                    <td>{{ dynamicBooking.description }}</td>
                                    <td class="min text-right">
                                        <span class="{% if dynamicBooking.amount > 0 %}text-success{% elseif dynamicBooking.amount < 0 %}text-danger{% endif %}">
                                            {{ dynamicBooking.amount|format_currency('EUR') }}
                                        </span>
                                    </td>
                                    <td class="text-right min">
                                        <div class="btn-group">
                                            {% if is_granted('edit', dynamicBooking) %}
                                                <a href="{{ path('housekeepingbook_dynamicbooking_edit', {'id': dynamicBooking.id}) }}" class="btn btn-xs btn-outline-primary">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">{{ 'no records found'|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('housekeepingbook_dynamicbooking_index') }}
{% endblock javascripts %}