{% extends 'blank_admin-lte-3_original.html.twig' %}

{% block title %}
    <title>{% if pageTitle is defined %}{{ pageTitle }} - {% endif %}{{ siteName }}</title>
{% endblock title %}


{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock stylesheets %}


{% block body_tag %}
<body class="hold-transition sidebar-mini text-sm">
{% endblock body_tag %}


{% block sidebar_logo %}
    <!-- Brand Logo -->
    <a href="{{ path('homepage') }}" class="brand-link">
        <i class="brand-text font-weight-light fas fa-house-user"></i> {{ siteName }}
    </a>
{% endblock sidebar_logo %}


{% block sidebar_user %}
{% endblock sidebar_user %}


{% block sidebar_search %}
{% endblock sidebar_search %}


{% block sidebar_links %}
    {% include '_sidebar_links.html.twig' %}
{% endblock %}


{% block sidebar_toggle %}
{% endblock sidebar_toggle %}


{% block navbar_left_items %}
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ path('homepage') }}" class="nav-link">Home</a>
    </li>
{% endblock navbar_left_items %}


{% block navbar_search %}
{% endblock navbar_search %}


{% block masquerade %}
    {% if is_granted('IS_IMPERSONATOR') %}
        <div style="color: red">
            <i class="fas fa-exclamation-triangle"></i>
            You are currently masqueraded as user "{{ app.user.username }}".
            <a class="btn btn-outline-danger btn-sm" style="color: red;" href="{{ path('app_start', {'_switch_user': '_exit'}) }}">End</a>
        </div>
    {% endif %}
{% endblock masquerade %}


{% block navbar_notifications_dropdown %}
    {{ include('_navbar_notifications.html.twig') }}
{% endblock navbar_notifications_dropdown %}


{% block navbar_control_fullscreen_button %}
{% endblock navbar_control_fullscreen_button %}


{% block navbar_messages_dropdown %}
{% endblock navbar_messages_dropdown %}


{% block navbar_control_sidebar_button %}
{% endblock navbar_control_sidebar_button %}


{% block login_logout_button %}
    {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">
                <i class="fas fa-user-plus"></i> Register
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">
                <i class="fas fa-sign-in-alt"></i> Login
            </a>
        </li>
    {% endif %}
{% endblock login_logout_button %}


{% block content_page_title %}
    {% if pageTitle is defined %}<h1 class="page-title">{{ pageTitle }}</h1>{% endif %}
{% endblock content_page_title %}


{% block page_breadcrumb %}
{% endblock page_breadcrumb %}


{% block page_messages %}
    {{ include('_page_messages.html.twig') }}
{% endblock page_messages %}


{% block page_body %}
    {% block page_header_buttons %}{% endblock %}
    {% block page_content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's
                                content.
                            </p>

                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div><!-- /.card -->

                    <div class="card card-primary card-outline">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's
                                content.
                            </p>

                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div><!-- /.card -->
                </div>
                <!-- /.col-md-8 -->

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">Featured</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Special title treatment</h6>

                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div><!-- /.card -->

                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">Featured</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Special title treatment</h6>

                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div><!-- /.card -->
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    {% endblock %}
{% endblock %}


{% block footer %}
{% endblock footer %}


{% block modals %}
{% endblock modals %}


{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{% endblock %}