<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">{{ 'app.household.details'|trans }}</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <table class="table mb-0">
                    <tbody>
                    <tr>
                        <th>{{ 'Title'|trans }}:</th>
                        <td>{{ household.title }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        {% if is_granted('edit', household) %}
            <div class="row">
                <div class="col-12 text-right">
                    <a href="{{ path('omh_household_edit', {'id': household.id}) }}">
                        <button class="btn btn-primary btn-icon-split ml-3">
                            <span class="icon text-white-50 mr-1">
                                <i class="far fa-save"></i>
                            </span>
                            <span class="text">{{ button_label|default('Edit')|trans }}</span>
                        </button>
                    </a>
                </div>
                <!-- /.col -->
            </div>
        {% endif %}
        <!-- /.row -->
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->